.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

select {
  padding: 1rem 3rem;
  font-size:1.3rem;
  font-weight:bold;
  background: url("./assets/drop-down.png") no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 13rem;
  width: 15rem;
  border-radius:.5rem;
}

.normal{
  font-size:1.3rem;
}

.bold{
  font-size:1.5rem;
  font-weight:bold;
}

.result{
  padding:5rem;
}

h1{
  margin-bottom:5rem;
  text-decoration: underline;
}